:root {
  /* background colors */
  --whitebg: #fff;
  --cementbg: #f7f7f7;
  --cementbg-sec: #f9f9f9;
  --graybg: #0000005c;
  --blackbg: #111010;
  /* colors texts */
  --clr-black: #111010;
  --clr-white: #fff;
  --clr-cement: #111010;
  --clr-lightwhite: #ececec;
  --clr-cementdark: #616161;
  /* font weights*/
  --fw7: 700;
  --fw6: 600;
  --fw5: 500;
  --fw4: 400;
  --fw3: 300;
  --fw2: 200;
  // responsive
  --screen-m: 576px;
  --screen-t: 768px;
  --screen-lg: 992px;
  --screen-xl: 1200px;
}
